@mixin btn-reset {
  padding: 0;
  background: none;
  border: none;
  cursor: pointer;
}

@mixin link-reset {
  color: inherit;
  text-decoration: none;
}

@mixin list-reset {
  padding: 0;
  margin: 0;
  list-style: none;
}

// Styleguide
@mixin hover-opacity {
  transition: opacity $transition-func $transition-time;

  &:hover {
    opacity: $hover-opacity;
  }
}

// Media

// Mobile first
// >= 576
@mixin min-sm {
  @media (min-width: $sm) {
    @content;
  }
}

// >= 768
@mixin min-md {
  @media (min-width: $md) {
    @content;
  }
}

// >= 1024
@mixin min-lg {
  @media (min-width: $lg) {
    @content;
  }
}

// >= 1200
@mixin min-xl {
  @media (min-width: $xl) {
    @content;
  }
}

// >= 1400
@mixin min-xxl {
  @media (min-width: $xxl) {
    @content;
  }
}

// Desktop first

// <= 1199
@mixin max-xl {
  @media (max-width: $xl - 1) {
    @content;
  }
}

// <= 1023
@mixin max-lg {
  @media (max-width: $lg - 1) {
    @content;
  }
}

// <= 767
@mixin max-md {
  @media (max-width: $md - 1) {
    @content;
  }
}

// <= 575
@mixin max-sm {
  @media (max-width: $sm - 1) {
    @content;
  }
}

@mixin retina {
  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    @content;
  }
}
